h1{
    text-align: center;
    padding-top: 20px;
}

body{
    background-color: rgb(215, 222, 236);
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }

 .cardWrapper{
    height: 75px;
    margin: 20px;
    color: rgb(13, 49, 73);
}
.card-text{
    text-align: center;
    font-size: large;
    margin: auto;

}
